<ion-header>
  <ion-toolbar color="success">
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  style="color: #fff;" ></ion-back-button>
     </ion-buttons>
     <p style="text-align: center;color: #fff;"><b >PHARMACIE</b></p>
  </ion-toolbar>
  </ion-header>
<ion-content >
<div class="background">
  <ion-grid >
    <ion-row >
     <ion-col size="12">
        <!-- <ion-list style="background-color: #DCDCDC;"> -->
          <ion-card  id="card" *ngFor="let item of lisetAgences2" (click)="showAgence(item)">    
                <div class="card-title">
                  <p style="font-weight: 200;"><ion-icon name="home-outline"></ion-icon><b>&nbsp;&nbsp;&nbsp;{{ item.name }}</b></p>
                  <p><ion-icon name="map-outline"></ion-icon>&nbsp;&nbsp;&nbsp;{{ item.adresse }}</p>
                  <b><ion-icon name="call-outline"></ion-icon></b>&nbsp;{{item.telephone}}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                  <span style="font-weight: 200; font-size: 16px;color: red;" *ngIf="item.status === 0"><b>&nbsp;Garde terminé</b></span>
                  <span style="font-weight: 200; font-size: 14px;color:green" *ngIf="item.status === 1"><b>&nbsp;En garde</b></span>  
                </div>
          </ion-card>
        <!-- </ion-list> -->
     </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
