<ion-header>
  <ion-toolbar color="success">
     
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()"  style="color: #fff;" ></ion-back-button>
     </ion-buttons>
     <p style="text-align: center;color: #fff;margin-left: -50px;"><b >INFOS PHARMACIE</b></p>
  </ion-toolbar>
</ion-header>

<ion-content paddin class="back-color"> 
 
  <div class="card-body" style="margin-top:100px;" >
    <div class="user-meta ion-text-center">
      
          <div class="card-body">
            <div class="user-meta ion-text-center">
              <h3 >{{infos.name}}</h3>
              <h5 > <ion-icon name="map-outline"></ion-icon> {{infos.adresse}}</h5>
              <ion-card *ngIf="showMap === false" class="card-color">
                  <br>
                  <p><ion-icon name="call-outline"></ion-icon> {{infos.phone}}</p>
                   <br>
                  <p style="color: green;" *ngIf="infos.status == 1"><b>En garde</b></p>
                  <p style="color: red;" *ngIf="infos.status == 0"><b>Garde terminé</b></p>
              
                    <br>
                  <ion-icon style="zoom: 2.5;" *ngIf="favori == false" color="warning" name="heart-circle-outline" (click)="addFavori(infos)"></ion-icon>
                  <ion-icon style="zoom: 2.5;" *ngIf="favori == true" color="danger" name="heart-circle-outline" (click)="deleteFavori(infos)"></ion-icon>
                
        
              </ion-card>
              <br>
              <div *ngIf="showMap === true" style="margin-left: 10px;margin-right: 10px;">
                <ion-buttons > 
                  <ion-button (click)="closeMap()">
                 Fermer
                  </ion-button>
                </ion-buttons>
                <agm-map [style.height.px]="300" [latitude]="latitude" [longitude]="longitude" [zoom]="13">
                  <agm-direction [origin]="origin" [destination]="destination">
                  </agm-direction>
                  <!-- <agm-marker id="my" [latitude]="latitude" [longitude]="longitude"></agm-marker> -->
                  <!--   <agm-marker [latitude]="latitudePres" [longitude]="longitudePres"></agm-marker> -->
                </agm-map>
        
              </div>
              <!--  -->
              <!-- <div id="map_canvas"></div> -->
        
        
            </div>
           
            <ion-row *ngIf="showMap === false">
             
              <ion-col size="12">

                <ion-button style="color: #fff;" (click)="geoLocaliser(infos)"  shape="round" expand="full" >Géolocaliser</ion-button>
              </ion-col>
            </ion-row>
        
        
          </div>
        
       
     
      <br>


    
    </div>
 

  </div>

</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
    <p style="text-align: center;font-size: 10px;">Mor SA &copy;2020 </p>
  </ion-toolbar>
  
  
</ion-footer>
