
<ion-header >
  <ion-toolbar>
    <p style="text-align: center;color: #fff;"><b >PHARMACIE</b></p>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="connexion()"  >
        <ion-icon style="color: aliceblue"  name="person-outline"></ion-icon>
      </ion-button> -->
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="cards">
    <div class="headers">
      
    </div> 
  </div>
  <br>
  <div class="card-body" style="margin: -5px;">
    <div class="user-meta ion-text-center">
      <ion-row>
        <ion-col size="12">
             <b>Informations</b>
        </ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" expand="full" style="color: #fff;" (click)="apropos()">A propos</ion-button>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" expand="full" style="color: #fff;" (click)="search()">Recherche</ion-button>
        </ion-col>
      </ion-row>

      <br>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" expand="full" style="color: #fff;" (click)="favori()">Favori</ion-button>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <!--  -->
      <!-- <div id="map_canvas"></div> -->

      <p style="text-align: center;font-size: 8px;">Mor SA &copy;2020 </p>
    </div>
    <br><br>
   

  </div>

</ion-content>
