<ion-header>
  <ion-toolbar color="success">
     
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  style="color: #fff;" ></ion-back-button>
     </ion-buttons>
     <p style="text-align: center;color: #fff;margin-left: -50px;"><b >FAVORIS</b></p>
  </ion-toolbar>
  </ion-header>

<ion-content padding class="background">
  <ion-list>
    <ion-card  id="card" *ngFor="let item of lisetAgences2" (click)="showAgence(item)" class="card-back">    
      <div class="card-title" style="margin-left: 5px;">
        <p style="font-weight: 200;"><ion-icon name="home-outline"></ion-icon><b>&nbsp;&nbsp;&nbsp;{{ item.name }}</b></p>
        <p><ion-icon name="map-outline"></ion-icon>&nbsp;&nbsp;&nbsp;{{ item.adresse }}</p>
        <b><ion-icon name="call-outline"></ion-icon></b>&nbsp;{{item.phone}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
       
      </div>
    </ion-card>
  </ion-list>
</ion-content>
<ion-toolbar color="secondary">
  <p style="text-align: center;font-size: 10px;">Mor SA &copy;2020 </p>
</ion-toolbar>

