<ion-header>
<ion-toolbar color="success">
   
  <ion-buttons slot="start">
    <ion-back-button defaultHref="folder"  style="color: #fff;" ></ion-back-button>
   </ion-buttons>
   <p style="text-align: center;color: #fff;margin-left: -50px;"><b >PHARMACIE</b></p>
</ion-toolbar>
</ion-header>

<ion-content padding  class="background">
  <ion-grid class="card-back">
    <br><br><br>

    <br><br>
    <ion-row  size="12">
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Région</ion-label>
            <ion-select name="region" (ionChange)="getRegion($event)">
              <ion-select-option *ngFor="let reg of allRegions"  value="{{reg.id}}" >{{reg.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row  size="12">
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Commune</ion-label>
            <ion-select name="ville" [(ngModel)]="ville">
              <ion-select-option *ngFor="let dep of communes" value="{{dep.id}}">{{dep.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <br><br><br>
    <ion-row  size="12">
      <ion-col>
        <div>
         <ion-button style="color: #fff;" (click)="recherche()"  shape="round" expand="full" >Recherche</ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-toolbar color="secondary">
  <p style="text-align: center;font-size: 10px;">Mor SA &copy;2020 </p>
</ion-toolbar>

