.background
{
 
    --ion-background-color: #F7F7F7;
}

.card-back{
  --ion-background-color: #FFF;
}
ion-img.logout{
    width: 40px; 
    height: 40px;
  }

  ion-img.logo{
    width: 15%; 
    height: 15%;
    display: inline-block;
  }